{% extends 'base.html.twig' %}

{% block title %}ProblemType index{% endblock %}

{% block body %}
    <h1>ProblemType index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for problem_type in problem_types %}
            <tr>
                <td>{{ problem_type.id }}</td>
                <td>{{ problem_type.name }}</td>
                <td>{{ problem_type.description }}</td>
                <td>
                    <a href="{{ path('problem_type_show', {'id': problem_type.id}) }}">show</a>
                    <a href="{{ path('problem_type_edit', {'id': problem_type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('problem_type_new') }}">Create new</a>
{% endblock %}
