{% extends 'base.html.twig' %}

{% block title %}User List{% endblock %}

{% block body %}
    <h1>User List</h1>

    <table class="table">
        <thead>
            <tr>
                <th>SNO</th>
                <th>Username</th>
              
              
                <th>First Name</th>
                <th>Middle Name</th>
               
                <th>Email</th>
                
                <th>Last Login</th>
                <th>Gender</th>
               
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
               
                <td>{{ user.firstName }}</td>
                <td>{{ user.middleName }}</td>
              
                <td>{{ user.email }}</td>
               
                <td>{{ user.lastLogin ? user.lastLogin|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.gender }}</td>
                 <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary"  href="{{ path('user_new') }}">Create new</a>

    <a href="{{ path('app_logout') }}">Logout</a>
{% endblock %}
